$primary:   #55ab64;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;
$green:     #55ab64;

$text-black: #343a40;
$subtext-black: #a8b0b8;
$text-white: rgba(white, .9);
$subtext-white: #a8b0b8;

$rounded-borders: 15px;