<div class="wow animated fadeIn" data-wow-delay=".15s">
  <div class="card text-themed">
    <div class="card-body">
      <div class="row justify-content-left align-items-left">
        {%- if include.image -%}
          {%- if include.image_position == "left" -%}
          <div class="col-md-6">
            {% include elements/figure.html image=include.image alt=include.image_alt caption=include.image_caption %}
          </div>
          <div class="col-md-6">
            <h5 id="{{ include.title }}-name" class="card-title">
            {{ include.title }}
            </h5>
            <p class="text-justify" id="{{ include.text }}-text" class="card-text">{{ include.text }}</p>
          </div>
        {%- else - %}
        <div class="col-md-6">
            <h5 id="{{ include.title }}-name" class="card-title">
            {{ include.title }}
            </h5>
            <p class="text-justify" id="{{ include.text }}-text" class="card-text">{{ include.text }}</p>
          </div>
        <div class="col-md-6">
            {% include elements/figure.html image=include.image alt=include.image_alt caption=include.image_caption %}
          </div>
        {%- endif -%}
        {%- else -%}
        <div class="col-md-6">
          <h5 id="{{ include.title }}-name" class="card-title">
          {{ include.title }}
          </h5>
          <p class="text-justify" id="{{ include.text }}-text" class="card-text">{{ include.text }}</p>
        </div>
        {%- endif -%}
          </div>
        </div>
      </div>
  </div>
